body {
  background-image: url("https://media.gettyimages.com/photos/cheeseburger-and-french-fries-unhealthy-food-unhealthy-eating-fast-picture-id925578406?s=2048x2048")
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.container {
  margin-left: 20px;
}